name: ansible-lint

on:
  workflow_call:
    inputs:
      requirements-file:
        default: ""
        description: "Path to ansible requirements file to install dependencies"
        type: string

jobs:
  lint:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6.0.2
      - name: lint
        uses: ansible/ansible-lint@v26.1.1
        with:
          requirements_file: ${{ inputs.requirements-file }}
