name: publish

on:
  workflow_call:
    secrets:
      galaxy-api-token:
        required: true
        description: "Ansible galaxy api token"

jobs:
  publish:
    runs-on: ubuntu-24.04
    steps:
      - name: checkout
        uses: actions/checkout@v6.0.1
      - name: publish role
        run: |
          REPOSITORY_NAME=$(echo ${GITHUB_REPOSITORY} | cut -d '/' -f2)
          ansible-galaxy role import --token ${ANSIBLE_GALAXY_API_KEY} --branch ${GITHUB_REF_NAME} ${GITHUB_REPOSITORY_OWNER} ${REPOSITORY_NAME}
        env:
          ANSIBLE_GALAXY_API_KEY: ${{ secrets.galaxy-api-token }}
