name: release

on:
  workflow_call:
    inputs:
      check-latest-tag-only:
        default: false
        type: boolean
        description: "Only check commits from the latest tag onwards"
      ignore-merge-commits:
        required: false
        type: boolean
        description: Ignore merge commits
        default: false
      ignore-fixup-commits:
        required: false
        type: boolean
        description: Ignore fixup commits
        default: false
      release-files:
        default: ""
        description: Newline-delimited list of path globs for asset files to upload
        type: string
        required: false
    secrets:
      release-token:
        description: The token to use for the github release
        required: true

jobs:
  validate-commits:
    uses: ./.github/workflows/cog-validate.yaml
    name: check commits
    with:
      check-latest-tag-only: ${{ inputs.check-latest-tag-only }}
      ignore-merge-commits: ${{ inputs.ignore-merge-commits }}
      ignore-fixup-commits: ${{ inputs.ignore-fixup-commits }}

  release:
    runs-on: ubuntu-24.04
    needs: validate-commits
    steps:
      - uses: actions/checkout@v5.0.0
        with:
          fetch-depth: 0
          token: ${{ secrets.release-token }}
      - name: setup git config
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com

      - name: install goreleaser
        uses: goreleaser/goreleaser-action@v6.4.0
        with:
          install-only: true
          distribution: goreleaser
          version: "v2.12.7" # renovate: datasource=github-releases depName=goreleaser/goreleaser versioning=semver

      - name: bump version
        id: release
        uses: cocogitto/cocogitto-action@v4.1.0
        with:
          command: bump
          args: "--auto"
          git-user: github-actions
          git-user-email: github-actions@github.com

      - name: generate changelog
        run: cog changelog --at ${{ steps.release.outputs.version }} > GITHUB_CHANGELOG.md

      - uses: softprops/action-gh-release@v2.4.1
        name: create release
        with:
          body_path: GITHUB_CHANGELOG.md
          tag_name: ${{ steps.release.outputs.version }}
          token: ${{ secrets.release-token }}
          files: ${{ inputs.release-files }}
