name: go-build

on:
  workflow_call:
    inputs:
      go-version:
        default: "1.25.4" # renovate: datasource=github-tags depName=golang/go extractVersion=^go(?<version>.*)$ versioning=semver
        description: The Go version to download (if necessary) and use. Supports semver spec and ranges. Be sure to enclose this option in single quotation marks.
        type: string
      working-directory:
        default: "."
        description: "Working directory for go commands"
        type: string
      cgo-enabled:
        default: false
        description: "Should cgo be enabled"
        type: boolean
      ldflags:
        default: -s -w
        description: Linker flags for the build command
        type: string

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v5.0.1

      - uses: actions/setup-go@v6.1.0
        with:
          go-version: ${{ inputs.go-version }}
          cache: false

      - name: vet
        working-directory: ${{ inputs.working-directory }}
        run: go vet ./...

      - name: build
        working-directory: ${{ inputs.working-directory }}
        run: go build -ldflags "${{ inputs.ldflags }}" -trimpath -o 'bin/' ./...
        env:
          CGO_ENABLED: ${{ inputs.cgo-enabled && '1' || '0' }}
