name: go-lint

on:
  workflow_call:
    inputs:
      go-version:
        default: "1.25.5" # renovate: datasource=github-tags depName=golang/go extractVersion=^go(?<version>.*)$ versioning=semver
        description: The Go version to download (if necessary) and use. Supports semver spec and ranges. Be sure to enclose this option in single quotation marks.
        type: string
      golangci-version:
        default: v2.7.0 # renovate: datasource=github-releases depName=golangci/golangci-lint versioning=semver
        description: "Version of golangci-lint to use"
        type: string
      working-directory:
        default: "."
        description: "golangci-lint working directory, default is project root"
        type: string

jobs:
  lint:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.1

      - uses: actions/setup-go@v6.1.0
        with:
          go-version: ${{ inputs.go-version }}
          cache: false

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v9.2.0
        with:
          version: ${{ inputs.golangci-version }}
          working-directory: ${{ inputs.working-directory }}
