name: hadolint

on:
  workflow_call:
    inputs:
      dockerfile:
        default: "Dockerfile"
        description: The Dockerfile to lint
        type: string

jobs:
  lint:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5.0.1
      - uses: hadolint/hadolint-action@v3.3.0
        with:
          dockerfile: ${{ inputs.dockerfile }}
