name: yaml-lint

on:
  workflow_call:
    inputs:
      yamllint-path:
        default: ""
        description: "Path to custom yamllint file"
        type: string

jobs:
  lint:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5.0.1

      - name: yaml-lint
        uses: ibiqlik/action-yamllint@v3.1.1
        with:
          config_file: ${{ inputs.yamllint-path }}
